body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #000000, #333333, #666666, #999999, #cccccc);
    background-size: 300%;
    animation: backgroundGradientAnimation 30s ease infinite; /* Slower animation */
}

@keyframes backgroundGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}
.skip-to-content:focus {
    top: 0;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}
.box {
    border: 1px solid #ccc;
    width:400px;
    height :auto;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.small {
    grid-column: span 1;
    color: #fff;

}
.main {
    width: 75%;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);


}
.box img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: hsl(0, 0%, 100%);
    text-shadow: 1px 1px 2px rgba(241, 245, 247, 0.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

p:hover {
    color: #8d4343;
    transform: scale(1.05);
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}